@import "reset";

:root {
  --blue: #196fb7;
  --dark-blue: #104d84;
  --light-blue: #74a4cd;
  --bg-color: #eeefee;
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --placeholder: {
    color: var(--light-blue);
    font-size: 1.6rem;
  }
}

html {
  font-size: 62.5%;
  font-family: var(--font-stack);
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 3rem;
  background-color: var(--bg-color);
  color: var(--blue);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

::-webkit-input-placeholder {
  @apply --placeholder;
}

::-moz-placeholder,
:-moz-placeholder {
  @apply --placeholder;
}

:-ms-input-placeholder {
  @apply --placeholder;
}

.contact {
  margin: 6rem auto 0;
  width: 100%;
  max-width: 78rem;
}

.flex-column,
.flex-row {
  display: flex;
  width: 100%;
}

.flex-column {
  flex-direction: column;
}

.form__column {
  max-width: 37rem;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

.contact__title {
  font-size: 4.8rem;
  font-weight: 900;
  text-align: center;
  margin: 0 0 6.8rem;
}

.contact__link {
  color: var(--blue);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact__link:hover {
  text-decoration: underline;
}

.contact__info {
  display: flex;
  margin: 0 0 7.2rem;
}

.contact__info__centered {
  margin: 0 auto;
  width: 100%;
  max-width: 21.4rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 1rem 0 0;
}

.icon_phone {
  background-image: url(../svg/phone.svg);
}

.icon_mail {
  background-image: url(../svg/mail.svg);
}

.form__input {
  background-color: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
  min-height: 3.6rem;
}

.form__input_message {
  margin: 0;
  max-width: 100%;
  padding: 1.2rem;
  font-family: var(--font-stack);
  min-height: 10rem;
}

.form__input_submit {
  background-color: var(--blue);
  color: white;
  text-transform: uppercase;
  width: 14rem;
  line-height: 4rem;
  font-weight: 700;
}

.form__input_submit:active {
  background-color: var(--dark-blue);
}

.form__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 4rem;
  width: 100%;
  border: 0.2rem solid var(--blue);
  padding: 0 1.2rem;
  margin-bottom: 1.6rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 0.5rem 0.5rem var(--bg-color);
  position: relative;
}

.form__error {
  position: absolute;
  top: -40%;
  right: -2rem;
  background-color: orangered;
  color: white;
  padding: 0 1.4rem;
  border-radius: 10rem;
  font-size: 1.2rem;
  max-height: 2.7rem;
  line-height: 2.7rem;
}

.form__item_focus {
  box-shadow: 0 0 0.5rem 0.5rem rgba(104, 104, 104, 0.1);
  border-color: var(--dark-blue);
}

.form__label {
  margin-right: 1.2rem;
  min-width: 7.4rem;
  color: var(--light-blue);
}

.form__item_message {
  padding: 0;
}

.form__required-text {
  margin: -1rem 0 2rem;
  display: block;
  font-size: 1.2rem;
  width: 100%;
}

@media only screen and (width < 820px) {
  .section {
    padding: 0 4rem;
  }

  .flex-row {
    flex-direction: column;
  }

  .flex-column {
    width: 48%;
  }

  .contact__info {
    justify-content: space-between;
  }

  .flex-column.form__column {
    max-width: 100%;
    width: 100%;
  }

  .contact__info__centered {
    max-width: 100%;
  }
}

@media only screen and (width < 550px) {
  .section {
    padding: 0 2rem;
  }

  .contact__info {
    flex-direction: column;
  }

  .contact__info .flex-column {
    margin: 0 0 2rem;
  }

  .form__error {
    font-size: 1rem;
    right: -1rem;
  }
}
